@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-code: "Source Code Pro", monospace;
  color-scheme: dark;
}

* {
  scroll-behavior: smooth;
}

@layer utilities {
  .contact-input {
    @apply 
  }
}